@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap";
/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-border-style: solid;
      --tw-font-weight: initial;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-ease: initial;
    }

    ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-border-style: solid;
      --tw-font-weight: initial;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-ease: initial;
    }
  }
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-gray-50: #f9fafb;
    --color-zinc-800: #27272a;
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --radius-lg: .5rem;
    --radius-2xl: 1rem;
    --radius-4xl: 2rem;
    --ease-in-out: cubic-bezier(.4, 0, .2, 1);
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Dm-sans: "DM Sans", sans-serif;
    --font-uthmani: "Uthmani", sans-serif;
  }

  @supports (color: color(display-p3 0 0 0)) {
    :root, :host {
      --color-gray-50: color(display-p3 .977213 .98084 .985102);
      --color-zinc-800: color(display-p3 .152895 .152887 .16466);
    }
  }

  @supports (color: lab(0% 0 0)) {
    :root, :host {
      --color-gray-50: lab(98.2596% -.247031 -.706708);
      --color-zinc-800: lab(15.7305% .613764 -2.16959);
    }
  }
}

@layer base {
  *, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::-webkit-file-upload-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
  }

  ::-webkit-file-upload-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
  }

  :where(select:-webkit-any([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:-moz-any([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:-webkit-any([multiple], [size])) optgroup option:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
    padding-left: 20px;
  }

  :where(select:-moz-any([multiple], [size])) optgroup option:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
    padding-left: 20px;
  }

  :where(select:is([multiple], [size])) optgroup option:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
    padding-left: 20px;
  }

  :where(select:-webkit-any([multiple], [size])) optgroup option:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
    padding-right: 20px;
  }

  :where(select:-moz-any([multiple], [size])) optgroup option:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
    padding-right: 20px;
  }

  :where(select:is([multiple], [size])) optgroup option:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
    padding-right: 20px;
  }

  :not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)))::-webkit-file-upload-button {
    margin-right: 4px;
  }

  :not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)))::file-selector-button {
    margin-right: 4px;
  }

  :not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)))::file-selector-button {
    margin-right: 4px;
  }

  :-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))::-webkit-file-upload-button {
    margin-left: 4px;
  }

  :-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))::file-selector-button {
    margin-left: 4px;
  }

  :is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))::file-selector-button {
    margin-left: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }

  input:where([type="button"], [type="reset"], [type="submit"]) {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }

  ::file-selector-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .top-1\/5 {
    top: 20%;
  }

  .right-4 {
    right: calc(var(--spacing) * 4);
  }

  .right-9 {
    right: calc(var(--spacing) * 9);
  }

  .left-4 {
    left: calc(var(--spacing) * 4);
  }

  .left-5 {
    left: calc(var(--spacing) * 5);
  }

  .left-6 {
    left: calc(var(--spacing) * 6);
  }

  .z-50 {
    z-index: 50;
  }

  .m-5 {
    margin: calc(var(--spacing) * 5);
  }

  .mx-2 {
    margin-inline: calc(var(--spacing) * 2);
  }

  .my-\[5px\] {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .mt-1\.5 {
    margin-top: calc(var(--spacing) * 1.5);
  }

  .mt-2 {
    margin-top: calc(var(--spacing) * 2);
  }

  .mt-3 {
    margin-top: calc(var(--spacing) * 3);
  }

  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }

  .mt-5 {
    margin-top: calc(var(--spacing) * 5);
  }

  .mt-20 {
    margin-top: calc(var(--spacing) * 20);
  }

  .mt-24 {
    margin-top: calc(var(--spacing) * 24);
  }

  .mt-25 {
    margin-top: calc(var(--spacing) * 25);
  }

  .mt-\[\.5\] {
    margin-top: .5px;
  }

  .mr-8 {
    margin-right: calc(var(--spacing) * 8);
  }

  .mr-20 {
    margin-right: calc(var(--spacing) * 20);
  }

  .mb-7 {
    margin-bottom: calc(var(--spacing) * 7);
  }

  .mb-8 {
    margin-bottom: calc(var(--spacing) * 8);
  }

  .ml-8 {
    margin-left: calc(var(--spacing) * 8);
  }

  .ml-10 {
    margin-left: calc(var(--spacing) * 10);
  }

  .flex {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .h-0 {
    height: calc(var(--spacing) * 0);
  }

  .h-7 {
    height: calc(var(--spacing) * 7);
  }

  .h-20 {
    height: calc(var(--spacing) * 20);
  }

  .h-25 {
    height: calc(var(--spacing) * 25);
  }

  .h-35 {
    height: calc(var(--spacing) * 35);
  }

  .h-50 {
    height: calc(var(--spacing) * 50);
  }

  .h-120 {
    height: calc(var(--spacing) * 120);
  }

  .h-140 {
    height: calc(var(--spacing) * 140);
  }

  .h-\[5rem\] {
    height: 5rem;
  }

  .h-\[9px\] {
    height: 9px;
  }

  .h-\[10rem\] {
    height: 10rem;
  }

  .h-\[50\%\] {
    height: 50%;
  }

  .h-\[50rem\] {
    height: 50rem;
  }

  .h-\[55\%\] {
    height: 55%;
  }

  .h-\[100\%\] {
    height: 100%;
  }

  .h-auto {
    height: auto;
  }

  .h-screen {
    height: 100vh;
  }

  .min-h-full {
    min-height: 100%;
  }

  .w-1\/3 {
    width: 33.3333%;
  }

  .w-4 {
    width: calc(var(--spacing) * 4);
  }

  .w-5 {
    width: calc(var(--spacing) * 5);
  }

  .w-6 {
    width: calc(var(--spacing) * 6);
  }

  .w-14 {
    width: calc(var(--spacing) * 14);
  }

  .w-80 {
    width: calc(var(--spacing) * 80);
  }

  .w-90 {
    width: calc(var(--spacing) * 90);
  }

  .w-120 {
    width: calc(var(--spacing) * 120);
  }

  .w-140 {
    width: calc(var(--spacing) * 140);
  }

  .w-145 {
    width: calc(var(--spacing) * 145);
  }

  .w-\[0\] {
    width: 0;
  }

  .w-\[2rem\] {
    width: 2rem;
  }

  .w-\[9px\] {
    width: 9px;
  }

  .w-\[20rem\] {
    width: 20rem;
  }

  .w-\[25rem\] {
    width: 25rem;
  }

  .w-\[28rem\] {
    width: 28rem;
  }

  .w-\[40rem\] {
    width: 40rem;
  }

  .w-\[45\%\] {
    width: 45%;
  }

  .w-\[50\%\] {
    width: 50%;
  }

  .w-\[55\%\] {
    width: 55%;
  }

  .w-\[80\%\] {
    width: 80%;
  }

  .w-\[90\%\] {
    width: 90%;
  }

  .w-\[98\%\] {
    width: 98%;
  }

  .w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .w-full {
    width: 100%;
  }

  .flex-1 {
    flex: 1;
  }

  .basis-0 {
    flex-basis: calc(var(--spacing) * 0);
  }

  .translate-y-1 {
    --tw-translate-y: calc(var(--spacing) * 1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .transform {
    transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .items-center {
    align-items: center;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }

  .gap-10 {
    gap: calc(var(--spacing) * 10);
  }

  .gap-\[35px\] {
    gap: 35px;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }

  .overflow-y-hidden {
    overflow-y: hidden;
  }

  .overflow-y-scroll {
    overflow-y: scroll;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }

  .rounded-4xl {
    border-radius: var(--radius-4xl);
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-2 {
    border-style: var(--tw-border-style);
    border-width: 2px;
  }

  .border-4 {
    border-style: var(--tw-border-style);
    border-width: 4px;
  }

  .border-\[1\.5\] {
    border-style: var(--tw-border-style);
    border-width: 1.5px;
  }

  .border-b-1 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }

  .border-b-2 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
  }

  .border-b-3 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 3px;
  }

  .border-\[\#004876\] {
    border-color: #004876;
  }

  .border-\[\#039467\] {
    border-color: #039467;
  }

  .border-\[\#767676\] {
    border-color: #767676;
  }

  .border-\[\#B8C2C8\] {
    border-color: #b8c2c8;
  }

  .border-\[\#D1D1D1\] {
    border-color: #d1d1d1;
  }

  .border-\[\#DADADA\] {
    border-color: #dadada;
  }

  .border-\[\#E8E8E8\] {
    border-color: #e8e8e8;
  }

  .border-white {
    border-color: var(--color-white);
  }

  .bg-\[\#004876\] {
    background-color: #004876;
  }

  .bg-\[\#039467\] {
    background-color: #039467;
  }

  .bg-\[\#D9E6EE\] {
    background-color: #d9e6ee;
  }

  .bg-\[\#D99F2F\] {
    background-color: #d99f2f;
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-\[url\(\'\/quran-bg\.svg\'\)\] {
    background-image: url("/quran-bg.svg");
  }

  .bg-cover {
    background-size: cover;
  }

  .bg-center {
    background-position: center;
  }

  .bg-no-repeat {
    background-repeat: no-repeat;
  }

  .p-0 {
    padding: calc(var(--spacing) * 0);
  }

  .p-15 {
    padding: calc(var(--spacing) * 15);
  }

  .px-1 {
    padding-inline: calc(var(--spacing) * 1);
  }

  .px-2 {
    padding-inline: calc(var(--spacing) * 2);
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }

  .px-8 {
    padding-inline: calc(var(--spacing) * 8);
  }

  .px-10 {
    padding-inline: calc(var(--spacing) * 10);
  }

  .px-25 {
    padding-inline: calc(var(--spacing) * 25);
  }

  .px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .py-1 {
    padding-block: calc(var(--spacing) * 1);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-6 {
    padding-block: calc(var(--spacing) * 6);
  }

  .py-\[6rem\] {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .pt-5 {
    padding-top: calc(var(--spacing) * 5);
  }

  .pt-8 {
    padding-top: calc(var(--spacing) * 8);
  }

  .pr-2 {
    padding-right: calc(var(--spacing) * 2);
  }

  .pb-4 {
    padding-bottom: calc(var(--spacing) * 4);
  }

  .pb-5 {
    padding-bottom: calc(var(--spacing) * 5);
  }

  .pl-16 {
    padding-left: calc(var(--spacing) * 16);
  }

  .pl-50 {
    padding-left: calc(var(--spacing) * 50);
  }

  .text-center {
    text-align: center;
  }

  .font-Dm-sans {
    font-family: var(--font-Dm-sans);
  }

  .font-Montserrat {
    font-family: var(--font-Montserrat);
  }

  .font-uthmani {
    font-family: var(--font-uthmani);
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  .text-4xl {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }

  .text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }

  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }

  .text-\[1rem\] {
    font-size: 1rem;
  }

  .text-\[3\.9vw\] {
    font-size: 3.9vw;
  }

  .text-\[4vw\] {
    font-size: 4vw;
  }

  .text-\[5\.2vw\] {
    font-size: 5.2vw;
  }

  .text-\[5vw\] {
    font-size: 5vw;
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .text-\[\#001C2D\] {
    color: #001c2d;
  }

  .text-\[\#6E6E6E\] {
    color: #6e6e6e;
  }

  .text-\[\#6E7077\] {
    color: #6e7077;
  }

  .text-\[\#004876\] {
    color: #004876;
  }

  .text-\[\#333333\] {
    color: #333;
  }

  .text-\[\#696969\] {
    color: #696969;
  }

  .text-\[\#D1D1D1\] {
    color: #d1d1d1;
  }

  .text-white {
    color: var(--color-white);
  }

  .text-zinc-800 {
    color: var(--color-zinc-800);
  }

  .underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }

  .brightness-200 {
    --tw-brightness: brightness(200%);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .grayscale {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .invert {
    --tw-invert: invert(100%);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .filter {
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .transition {
    transition-property: color, background-color, border-color, outline-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, visibility, content-visibility, overlay, pointer-events;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .duration-150 {
    --tw-duration: .15s;
    transition-duration: .15s;
  }

  .duration-300 {
    --tw-duration: .3s;
    transition-duration: .3s;
  }

  .duration-\[200ms\] {
    --tw-duration: .2s;
    transition-duration: .2s;
  }

  .ease-in-out {
    --tw-ease: var(--ease-in-out);
    transition-timing-function: var(--ease-in-out);
  }

  .outline-none {
    --tw-outline-style: none;
    outline-style: none;
  }

  .select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (hover: hover) {
    .group-hover\:text-black:is(:where(.group):hover *) {
      color: var(--color-black);
    }
  }

  @media (hover: hover) {
    .group-hover\:invert:is(:where(.group):hover *) {
      --tw-invert: invert(100%);
      filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
    }
  }

  @media (hover: hover) {
    .hover\:flex-\[2\]:hover {
      flex: 2;
    }
  }

  @media (hover: hover) {
    .hover\:scale-\[1\.03\]:hover {
      scale: 1.03;
    }
  }

  @media (hover: hover) {
    .hover\:rounded-2xl:hover {
      border-radius: var(--radius-2xl);
    }
  }

  @media (hover: hover) {
    .hover\:border:hover {
      border-style: var(--tw-border-style);
      border-width: 1px;
    }
  }

  @media (hover: hover) {
    .hover\:border-1:hover {
      border-style: var(--tw-border-style);
      border-width: 1px;
    }
  }

  @media (hover: hover) {
    .hover\:border-\[\#004876\]:hover {
      border-color: #004876;
    }
  }

  @media (hover: hover) {
    .hover\:border-black:hover {
      border-color: var(--color-black);
    }
  }

  @media (hover: hover) {
    .hover\:border-gray-50:hover {
      border-color: var(--color-gray-50);
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#1F1F1F\]:hover {
      background-color: #1f1f1f;
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#004876\]:hover {
      background-color: #004876;
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#D99F2F\]:hover {
      background-color: #d99f2f;
    }
  }

  @media (hover: hover) {
    .hover\:bg-white:hover {
      background-color: var(--color-white);
    }
  }

  @media (hover: hover) {
    .hover\:text-\[\#1F1F1F\]:hover {
      color: #1f1f1f;
    }
  }

  @media (hover: hover) {
    .hover\:text-white:hover {
      color: var(--color-white);
    }
  }

  .focus\:border-\[\#004876\]:focus {
    border-color: #004876;
  }

  @media (min-width: 40rem) {
    .sm\:w-\[40rem\] {
      width: 40rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:mx-5 {
      margin-inline: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 48rem) {
    .md\:my-\[11px\] {
      margin-top: 11px;
      margin-bottom: 11px;
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-1 {
      margin-top: calc(var(--spacing) * 1);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-2 {
      margin-top: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-4 {
      margin-top: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-5 {
      margin-top: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-7 {
      margin-top: calc(var(--spacing) * 7);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-8 {
      margin-top: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-10 {
      margin-top: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-14 {
      margin-top: calc(var(--spacing) * 14);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-15 {
      margin-top: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-25 {
      margin-top: calc(var(--spacing) * 25);
    }
  }

  @media (min-width: 48rem) {
    .md\:mr-20 {
      margin-right: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 48rem) {
    .md\:mb-0 {
      margin-bottom: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 48rem) {
    .md\:mb-25 {
      margin-bottom: calc(var(--spacing) * 25);
    }
  }

  @media (min-width: 48rem) {
    .md\:ml-6 {
      margin-left: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 48rem) {
    .md\:ml-8 {
      margin-left: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:ml-10 {
      margin-left: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 48rem) {
    .md\:ml-11 {
      margin-left: calc(var(--spacing) * 11);
    }
  }

  @media (min-width: 48rem) {
    .md\:ml-12 {
      margin-left: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 48rem) {
    .md\:ml-15 {
      margin-left: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 48rem) {
    .md\:ml-25 {
      margin-left: calc(var(--spacing) * 25);
    }
  }

  @media (min-width: 48rem) {
    .md\:block {
      display: block;
    }
  }

  @media (min-width: 48rem) {
    .md\:flex {
      display: flex;
    }
  }

  @media (min-width: 48rem) {
    .md\:hidden {
      display: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-52 {
      height: calc(var(--spacing) * 52);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-70 {
      width: calc(var(--spacing) * 70);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-80 {
      width: calc(var(--spacing) * 80);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-100 {
      width: calc(var(--spacing) * 100);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-120 {
      width: calc(var(--spacing) * 120);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[3rem\] {
      width: 3rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[4rem\] {
      width: 4rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[15rem\] {
      width: 15rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[20rem\] {
      width: 20rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[24rem\] {
      width: 24rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[28rem\] {
      width: 28rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[rem\] {
      width: rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-fit {
      width: -moz-fit-content;
      width: fit-content;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-full {
      width: 100%;
    }
  }

  @media (min-width: 48rem) {
    .md\:flex-row {
      flex-direction: row;
    }
  }

  @media (min-width: 48rem) {
    .md\:flex-wrap {
      flex-wrap: wrap;
    }
  }

  @media (min-width: 48rem) {
    .md\:items-center {
      align-items: center;
    }
  }

  @media (min-width: 48rem) {
    .md\:justify-center {
      justify-content: center;
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-6 {
      gap: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-10 {
      gap: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 48rem) {
    .md\:bg-cover {
      background-size: cover;
    }
  }

  @media (min-width: 48rem) {
    .md\:py-\[25px\] {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-3xl {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-4xl {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-5xl {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-xl {
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[1\.5rem\] {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[3vw\] {
      font-size: 3vw;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[4vw\] {
      font-size: 4vw;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[vw\] {
      color: vw;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-2 {
      margin-top: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-5 {
      margin-top: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-8 {
      margin-top: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-10 {
      margin-top: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-12 {
      margin-top: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-14 {
      margin-top: calc(var(--spacing) * 14);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-15 {
      margin-top: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-17 {
      margin-top: calc(var(--spacing) * 17);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-18 {
      margin-top: calc(var(--spacing) * 18);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-30 {
      margin-top: calc(var(--spacing) * 30);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-40 {
      margin-top: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mb-40 {
      margin-bottom: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-3 {
      margin-left: calc(var(--spacing) * 3);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-12 {
      margin-left: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-20 {
      margin-left: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-27 {
      margin-left: calc(var(--spacing) * 27);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-30 {
      margin-left: calc(var(--spacing) * 30);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-35 {
      margin-left: calc(var(--spacing) * 35);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-45 {
      margin-left: calc(var(--spacing) * 45);
    }
  }

  @media (min-width: 64rem) {
    .lg\:block {
      display: block;
    }
  }

  @media (min-width: 64rem) {
    .lg\:hidden {
      display: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-70 {
      width: calc(var(--spacing) * 70);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-80 {
      width: calc(var(--spacing) * 80);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-100 {
      width: calc(var(--spacing) * 100);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-120 {
      width: calc(var(--spacing) * 120);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[28rem\] {
      width: 28rem;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[40\%\] {
      width: 40%;
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-10 {
      gap: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-15 {
      gap: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-20 {
      gap: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 64rem) {
    .lg\:bg-cover {
      background-size: cover;
    }
  }

  @media (min-width: 64rem) {
    .lg\:bg-size-\[100\%\] {
      background-size: 100%;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-2xl {
      font-size: var(--text-2xl);
      line-height: var(--tw-leading, var(--text-2xl--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-3xl {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-4xl {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-xl {
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[2rem\] {
      font-size: 2rem;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[3vw\] {
      font-size: 3vw;
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-2 {
      margin-top: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-5 {
      margin-top: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-8 {
      margin-top: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-14 {
      margin-top: calc(var(--spacing) * 14);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-15 {
      margin-top: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-17 {
      margin-top: calc(var(--spacing) * 17);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-18 {
      margin-top: calc(var(--spacing) * 18);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mt-40 {
      margin-top: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 80rem) {
    .xl\:mb-40 {
      margin-bottom: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 80rem) {
    .xl\:ml-20 {
      margin-left: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 80rem) {
    .xl\:ml-45 {
      margin-left: calc(var(--spacing) * 45);
    }
  }

  @media (min-width: 80rem) {
    .xl\:block {
      display: block;
    }
  }

  @media (min-width: 80rem) {
    .xl\:hidden {
      display: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:h-100 {
      height: calc(var(--spacing) * 100);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-80 {
      width: calc(var(--spacing) * 80);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-90 {
      width: calc(var(--spacing) * 90);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-95 {
      width: calc(var(--spacing) * 95);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-98 {
      width: calc(var(--spacing) * 98);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-100 {
      width: calc(var(--spacing) * 100);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-120 {
      width: calc(var(--spacing) * 120);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-125 {
      width: calc(var(--spacing) * 125);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-135 {
      width: calc(var(--spacing) * 135);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-145 {
      width: calc(var(--spacing) * 145);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-150 {
      width: calc(var(--spacing) * 150);
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-\[25rem\] {
      width: 25rem;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-\[28rem\] {
      width: 28rem;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-\[30rem\] {
      width: 30rem;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-\[40\%\] {
      width: 40%;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-\[125rem\] {
      width: 125rem;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-\[rem\] {
      width: rem;
    }
  }

  @media (min-width: 80rem) {
    .xl\:gap-5 {
      gap: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 80rem) {
    .xl\:gap-15 {
      gap: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 80rem) {
    .xl\:gap-20 {
      gap: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 80rem) {
    .xl\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
  }

  @media (min-width: 80rem) {
    .xl\:text-\[3vw\] {
      font-size: 3vw;
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-1 {
      margin-top: calc(var(--spacing) * 1);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-2 {
      margin-top: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-5 {
      margin-top: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-8 {
      margin-top: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-14 {
      margin-top: calc(var(--spacing) * 14);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-15 {
      margin-top: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-17 {
      margin-top: calc(var(--spacing) * 17);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-18 {
      margin-top: calc(var(--spacing) * 18);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mt-40 {
      margin-top: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:mb-40 {
      margin-bottom: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:ml-20 {
      margin-left: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:ml-45 {
      margin-left: calc(var(--spacing) * 45);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:block {
      display: block;
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:w-100 {
      width: calc(var(--spacing) * 100);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:w-110 {
      width: calc(var(--spacing) * 110);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:w-120 {
      width: calc(var(--spacing) * 120);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:w-130 {
      width: calc(var(--spacing) * 130);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:w-\[28rem\] {
      width: 28rem;
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:w-\[40\%\] {
      width: 40%;
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:gap-12 {
      gap: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:gap-15 {
      gap: calc(var(--spacing) * 15);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:gap-20 {
      gap: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:text-\[3vw\] {
      font-size: 3vw;
    }
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: .3rem;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #b8c2c8;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #004876;
    border-radius: 50px;
  }
}

:root {
  --d-color: red;
}

@font-face {
  font-family: Uthmani;
  src: url("/fonts/PDMS_Saleem_QuranFont_shipped.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.quran-text {
  color: #000;
  -webkit-mask-image: linear-gradient(#000, #000);
  mask-image: linear-gradient(#000, #000);
}

.Active-seted {
  color: #fff;
  background: #004876;
  flex: 2;
}

.card-active {
  color: #fff;
  background: #004876;
  border: 2px solid #fff;
  border-radius: 1rem;
  scale: 1.03;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-ease {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=src_app_globals_b805903d.css.map*/